@model IEnumerable<Votacion.Modelos.DTOs.CandidatoDTO>

@{
    ViewData["Title"] = "Candidatos";
}

<h1>Candidatos</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Propuesta</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Propuesta</td>
                <td>
                    <form asp-controller="Votos"
                          asp-action="Votar"
                          method="post"
                          style="display:inline;">
                        <input type="hidden" name="candidatoId" value="@item.CandidatoId" />
                        <button type="submit"
                                class="btn btn-success btn-sm">
                            Votar
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
